<div>
  <link href="./gallery-card.css" rel="stylesheet" />
  <div class="gallery-card-container">
    <div class="gallery-card-container1">
      <div class="gallery-card-container2">
        <img
          alt="image"
          src="https://play.teleporthq.io/static/svg/default-img.svg"
          class="gallery-card-image"
        />
        <div class="gallery-card-container3">
          <h1 class="gallery-card-text"><span>Heading</span></h1>
          <h1 class="gallery-card-text1"><span>Description</span></h1>
          <h1 class="gallery-card-text2"><span>Tag</span></h1>
        </div>
      </div>
    </div>
  </div>
</div>
