<div>
  <link href="./navigation-links.css" rel="stylesheet" />
  <nav class="navigation-links-nav">
    <div class="navigation-links-container">
      <a href="index.html" class="navigation-links-link"><span>Home</span></a>
      <a href="about.html" class="navigation-links-navlink">
        <span>About</span>
      </a>
      <a href="blog.html" class="navigation-links-navlink1">
        <span>Blog</span>
      </a>
      <a href="works.html" class="navigation-links-navlink2">
        <span>Works</span>
      </a>
      <a href="sorry.html" class="navigation-links-navlink3">
        <span>Store</span>
      </a>
    </div>
  </nav>
</div>
