.social-bar-social-bar {
  width: 100%;
  height: 113px;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  position: relative;
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: center;
}
.social-bar-link {
  display: contents;
}
.social-bar-image {
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  align-self: center;
  object-fit: cover;
  margin-right: var(--dl-space-space-threeunits);
  text-decoration: none;
}
.social-bar-link1 {
  display: contents;
}
.social-bar-image1 {
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  align-self: center;
  object-fit: cover;
  margin-right: var(--dl-space-space-threeunits);
  text-decoration: none;
}
.social-bar-navlink {
  display: contents;
}
.social-bar-icon {
  fill: #ffffff;
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  align-self: center;
  text-decoration: none;
}
.social-bar-text {
  font-size: 1em;
  align-self: center;
  font-style: normal;
  text-align: right;
  font-weight: 500;
  margin-left: var(--dl-space-space-fourunits);
}
@media(max-width: 767px) {
  .social-bar-social-bar {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .social-bar-social-bar {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .social-bar-text {
    width: 136px;
  }
}
