<div>
  <link href="./social-bar.css" rel="stylesheet" />
  <div class="social-bar-social-bar">
    <a
      href="https://www.reddit.com/u/zabojeb"
      target="_blank"
      rel="noreferrer noopener"
      class="social-bar-link"
    >
      <img
        alt="Reddit"
        src="https://pluspng.com/img-png/reddit-logo-png-white-reddit-icon-free-white-site-logo-icons-512x512.png"
        loading="eager"
        class="social-bar-image"
      />
    </a>
    <a
      href="https://vk.com/zabojeb"
      target="_blank"
      rel="noreferrer noopener"
      class="social-bar-link1"
    >
      <img
        alt="Vk"
        src="https://i.ibb.co/wMQ4GmK/image-1.png"
        loading="eager"
        class="social-bar-image1"
      />
    </a>
    <a href="sorry.html" class="social-bar-navlink">
      <svg viewBox="0 0 1024 1024" class="social-bar-icon">
        <path
          d="M1013.8 307.2c0 0-10-70.6-40.8-101.6-39-40.8-82.6-41-102.6-43.4-143.2-10.4-358.2-10.4-358.2-10.4h-0.4c0 0-215 0-358.2 10.4-20 2.4-63.6 2.6-102.6 43.4-30.8 31-40.6 101.6-40.6 101.6s-10.2 82.8-10.2 165.8v77.6c0 82.8 10.2 165.8 10.2 165.8s10 70.6 40.6 101.6c39 40.8 90.2 39.4 113 43.8 82 7.8 348.2 10.2 348.2 10.2s215.2-0.4 358.4-10.6c20-2.4 63.6-2.6 102.6-43.4 30.8-31 40.8-101.6 40.8-101.6s10.2-82.8 10.2-165.8v-77.6c-0.2-82.8-10.4-165.8-10.4-165.8zM406.2 644.8v-287.8l276.6 144.4-276.6 143.4z"
        ></path>
      </svg>
    </a>
  </div>
</div>
